body {
    background-color: #FFFBF5;
}

html {
    overflow-y: scroll;
  }

.wrapper-background {
    background-color: white;
    border-radius: 8px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    /* border: 1px solid black; */
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #58595b, 0 6px 20px 0 #58595b;
}

.nav-info {
    float: left;
    margin-top: 12px;
}

.nav-info-2 {
    float: left;
    margin-top: 2px;
}

.nav-icon {
    /* border: 1px solid black; */
    vertical-align: middle;
    margin-bottom: 3px;
    max-width: 30px;
}

.nav-link {
    text-decoration: none;
    /* border: 1px solid blue; */
}

.nav-left {
    float: left;
    /* border: 1px solid yellow; */
    width: 40px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 14px;
}

.nav-middle {
    float: left;
    /* border: 1px solid yellow; */
    width: 490px;
    margin: 20px;
}

.nav-right {
    float: left;
    /* border: 1px solid yellow; */
    width: 468px;
    margin: 20px;
    /* border: 1px solid black; */
}

.information-highlight {
    font-family: verdana;
    font-size: 14px;
    color: #58595b;
}

.wrapper-content {
    width: 100%; 
    /* border: 1px solid black; */
    overflow: hidden;
}

.side-nav-left {
    float: left;
    /* border: 1px solid green; */
    width: 34px;
    height: 600px;
    margin-left: 30px;
}

.landing-left {
    float: left;
    /* border: 1px solid red; */
    width: 35vw;
    height: 600px;
    margin: 10px;
}

.landing-right {
    float: right;
    /* border: 1px solid blue; */
    width: auto;
    height: 600px;
    margin: 10px;
    margin-right: 50px;
}

.side-nav-right {
    float: left;
    /* border: 1px solid green; */
    width: 55px;
    height: 600px;
    margin: 10px;
}

.side-nav-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* border: 1px solid black; */
}

.side-nav-link {
    /* border: 1px solid green; */
    margin: 5px;
}

.side-nav-icon {
    margin-top: 2px;
    height: 40px;
    width: 40px;
}

.information-highlight-slash {
    font-family: verdana;
    font-size: 16px;
    color: #58595b;
}

.name-card {
    font-family: verdana;
    font-size: 40px;
    font-weight: bold;
    color: #003243;
    padding: 60px;
    padding-bottom: 0px;
}

.titles-card {
    width: 360px;
    padding-left: 60px;
    padding-top: 10px;
}

.about-me-card {
    width: 80%;
    padding-left: 60px;
    padding-top: 30px;
}

.titles {
    font-family: verdana;
    font-size: 16px;
    font-weight: 550;
    color: #003243;
}

.blurb {
    font-family: verdana;
    font-size: 14px;
    color: #58595b;
}

.gif-coding {
    padding-left: 60px; 
    margin-top: 78px;
    width: 224px; 
    height: 168px;
}

#headshot {
    max-width: 550px;
    max-height: 600px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-top: 70px;
    box-shadow: 0 4px 8px 0 #58595b, 0 6px 20px 0 #58595b;
}

.detail-lines {
    margin-bottom: 18px;
}

.job-top-wrapper {
    overflow: hidden;
    /* border: 1px solid blueviolet; */
}

.job-right {
    overflow: hidden;
}

.job-info-wrapper {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    min-width: 300px;
}

.job-title-wrapper {
    /* border: 1px solid red; */
    margin-top: 30px;
}

.job-title {
    font-family: verdana;
    font-size: 36px;
    font-weight: bold;
    color: #003243;
}

.company-name-wrapper {
    /* float: left; */
}

.company-name {
    font-family: verdana;
    font-size: 24px;
    font-weight: bold;
    color: #003243;
}

.job-date-wrapper {
    margin-bottom: 40px;
}

.job-date {
    text-align: right;
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #003243;
}

.expand-arrow-wrapper {
    /* border: 1px solid green; */
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.expand-arrow {
    margin: auto;
    /* border: 2px solid black; */
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.expand-arrow:hover {
    /* border: 1px solid green; */
    background-color:#D9DDDC;
}

.job-expand-wrapper {
    float: left;
    position: relative;
}

.job-blurb-wrapper {
    float: left;
    /* border: 1px solid black; */
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.job-blurb-title {
    font-family: verdana;
    font-weight: bold;
    color: #003243;
}

.job-blurb {
    font-family: verdana;
    color: #58595b;
}

.job-glance-wrapper {
    /* border: 1px solid blue; */
    margin: auto;
    text-align: left;
    min-width: 40%;
}

.glance-top {
    overflow: hidden; 
    display: inline-block; 
    text-align: left; 
    white-space: nowrap; 
    vertical-align: top;
}

.glance-bottom {
    overflow: hidden; 
    display: inline-block; 
    text-align: left; 
    white-space: normal;
}

.glance-title-wrapper {
    float: left;
    margin-right: 10px;
    width: 130px;
    margin-bottom: 20px;
    border-right: 2px solid grey;
    /* border: 1px solid black; */
}

.glance-title {
    font-family: Verdana;
    font-weight: bold;
    color: #58595b;
}

.glance-languages-wrapper {
    width: 100%;
    width: 100%;
    display: inline-block;
    max-width: 158px;
    white-space: normal;
    margin-right: 10px;
}

.glance-languages {
    font-family: Verdana;
    color: #58595b;
}

.glance-technologies-wrapper {
    /* border: 1px solid red; */
    width: 100%;
    display: inline-block;
    max-width: calc(90px + 6vw);
    white-space: normal;
    margin-right: 10px;
}

.glance-technologies {
    font-family: Verdana;
    color: #58595b;
    /* width: 100px; */
}

.job-logo-wrapper-left {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.job-logo-wrapper-right {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.logo {
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 40px;
    margin-bottom: 0px;
    display: inline-block;

}

hr {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}