body {
    background-color: #FFFBF5;
}

html {
    overflow-y: scroll;
  }

.wrapper-background {
    background-color: white;
    border-radius: 8px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    /* border: 1px solid black; */
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #58595b, 0 6px 20px 0 #58595b;
    min-width: 580px;
}

.home-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.home-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: lavenderblush; */
    flex: 0 0 84px;
}

.home-middle-wrapper {
    display: flex;
    flex-direction: column;
    /* background-color: mintcream; */
    flex: 2;
}

.home-right-wrapper {
    /* background-color: ivory; */
    flex: 3;
    text-align: right;
    margin-right: 40px;
    margin-left: 20px;
}

.left-nav-row {
    flex: 0 0 84px;
    text-align: center;
}

.left-main-row {
    flex: 1;
    margin-right: 20px;
    /* background: lavenderblush; */
}

.left-main-row-bottom {
    flex: 0 0 100px;
    margin-bottom: 40px;
    /* margin-left: 20px; */
    /* background: mintcream; */
}

@media screen and (max-width: 1680px) { 
    .home-coding-gif {
        width: 240px; 
        height: 180px;
    }
}

@media screen and (max-width: 1514px) { 
    .home-coding-gif {
        width: 160px; 
        height: 120px;
    }
}

@media screen and (max-width: 1394px) { 
    .left-main-row-bottom {
        display: none;
    }
}

.left-side-nav-icon {
    margin: 20px;
    height: 40px;
    width: 40px;
}

.home-name-card {
    font-family: verdana;
    font-size: 48px;
    font-weight: bold;
    color: #003243;
    padding-top: 40px;
    padding-right: 60px;
}

.home-titles-card {
    font-family: verdana;
    font-size: 16px;
    font-weight: 550;
    color: #003243;
    padding-top: 10px;
}

.home-about-me-card {
    font-family: verdana;
    font-size: 14px;
    color: #58595b;
    padding-top: 20px;
}

.home-coding-gif {
    max-width: 320px; 
    max-height: 240px;
    min-width: 0px;
    min-height: 0px;
}

#home-headshot {
    max-width: 100%;
    max-height: 500px;
    min-width: 460px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 #58595b, 0 6px 20px 0 #58595b;
}

#home-grad-photo {
    max-width: 100%;
    max-height: 500px;
    min-width: 460px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 #58595b, 0 6px 20px 0 #58595b;
}

#home-beach-photo {
    max-width: 100%;
    max-height: 500px;
    min-width: 460px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 #58595b, 0 6px 20px 0 #58595b;
}

#home-family-picture {
    max-width: 100%;
    max-height: 500px;
    min-width: 460px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 #58595b, 0 6px 20px 0 #58595b;
}

.nav-wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.nav-line-left {
    flex: 0 0 100px;
    text-align: center;
}

.nav-line-middle {
    flex: 1 1 auto;
    min-width: max-content;
}

.nav-line-right {
    flex: 0 0 524px;
    min-width: max-content;
    /* text-align: right; */
}

.nav-child {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.nav-text {
    font-family: verdana;
    font-size: 14px;
    color: #58595b;
}

.nav-text-slash {
    font-family: verdana;
    font-size: 16px;
    color: #58595b;
}

.nav-icon {
    vertical-align: middle;
    margin-bottom: 4px;
    max-width: 30px;
}

.nav-link {
    text-decoration: none;
}

.job-top-wrapper {
    overflow: hidden;
    /* border: 1px solid blueviolet; */
}

.job-right {
    overflow: hidden;
}

.job-info-wrapper {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    min-width: 300px;
}

.job-title-wrapper {
    /* border: 1px solid red; */
    margin-top: 30px;
}

.job-title {
    font-family: verdana;
    font-size: 36px;
    font-weight: bold;
    color: #003243;
}

.company-name {
    font-family: verdana;
    font-size: 24px;
    font-weight: bold;
    color: #003243;
}

.job-date-wrapper {
    margin-bottom: 40px;
}

.job-date {
    text-align: right;
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #003243;
}

.expand-arrow-wrapper {
    /* border: 1px solid green; */
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.expand-arrow {
    margin: auto;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.expand-arrow:hover {
    /* border: 1px solid green; */
    background-color:#D9DDDC;
}

.job-expand-wrapper {
    float: left;
    position: relative;
}

.job-blurb-wrapper {
    float: left;
    /* border: 1px solid black; */
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.job-blurb-title {
    font-family: verdana;
    font-weight: bold;
    color: #003243;
}

.job-blurb {
    font-family: verdana;
    color: #58595b;
}

.job-glance-wrapper {
    /* border: 1px solid blue; */
    margin: auto;
    text-align: left;
    min-width: 40%;
}

.glance-top {
    overflow: hidden; 
    display: inline-block; 
    text-align: left; 
    white-space: nowrap; 
    vertical-align: top;
}

.glance-bottom {
    overflow: hidden; 
    display: inline-block; 
    text-align: left; 
    white-space: normal;
}

.glance-title-wrapper {
    float: left;
    margin-right: 10px;
    width: 130px;
    margin-bottom: 20px;
    border-right: 2px solid grey;
    /* border: 1px solid black; */
}

.glance-title {
    font-family: Verdana;
    font-weight: bold;
    color: #58595b;
}

.glance-languages-wrapper {
    width: 100%;
    width: 100%;
    display: inline-block;
    max-width: 158px;
    white-space: normal;
    margin-right: 10px;
}

.glance-languages {
    font-family: Verdana;
    color: #58595b;
}

.glance-technologies-wrapper {
    /* border: 1px solid red; */
    width: 100%;
    display: inline-block;
    max-width: calc(90px + 6vw);
    white-space: normal;
    margin-right: 10px;
}

.glance-technologies {
    font-family: Verdana;
    color: #58595b;
    /* width: 100px; */
}

.job-logo-wrapper-left {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.job-logo-wrapper-right {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.logo {
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 40px;
    margin-bottom: 0px;
    display: inline-block;
}

.degree-info-wrapper {
    /* border: 1px solid black; */
    text-align: center;
    overflow: hidden;
    min-width: 300px;
}

.degree-title-wrapper {
    /* border: 1px solid red; */
    margin-top: 10px;
}

.degree-title {
    font-family: verdana;
    font-size: 36px;
    font-weight: bold;
    color: #003243;
}

.specialization-title-wrapper {
    margin: 10px;
}

.specialization-title {
    font-family: verdana;
    font-size: 24px;
    font-weight: bold;
    color: #003243;
}

.degree-date-wrapper {
    margin-bottom: 10px;
}

.degree-date {
    text-align: right;
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #003243;
}

.degree-blurb-wrapper {
    /* border: 1px solid black; */
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.degree-blurb-title {
    font-family: verdana;
    font-weight: bold;
    color: #003243;
}

.degree-blurb {
    font-family: verdana;
    color: #58595b;
}

.coursework-info-wrapper {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 60px;
    overflow: hidden;
    min-width: 300px;
}

.coursework-title-wrapper {
    /* border: 1px solid red; */
    margin-top: 30px;
}

.coursework-title {
    font-family: verdana;
    font-size: 36px;
    font-weight: bold;
    color: #003243;
}

.coursework-blurb-wrapper {
    /* border: 1px solid black; */
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.coursework-blurb {
    font-family: verdana;
    color: #58595b;
}

.course-info-wrapper {
    /* margin: 30px; */
    text-align: center;
    margin-top: 30px;
    min-width: 300px;
}

.course-row-wrapper {
    display: flex;
    margin: 20px;
}

.course-row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.course-col {
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;
}

.course-title-wrapper {
    margin-top: 20px;
}

.course-title {
    font-family: verdana;
    font-size: 24px;
    font-weight: bold;
    color: #003243;
}

.course-code-wrapper {
    margin: 4px;
}

.course-code {
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #003243;
}

.course-blurb-wrapper {
    text-align: left;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.course-blurb {
    font-family: verdana;
    color: #58595b;
}

.course-glance-top {
    overflow: hidden; 
    display: inline-block; 
    text-align: left; 
    white-space: nowrap; 
    vertical-align: top;
    margin-top: 10px;
}

.course-glance-title-wrapper {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 116px;
    border-right: 2px solid grey;
    /* border: 1px solid black; */
}

.course-glance-title {
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    color: #58595b;
}

.course-glance-languages-wrapper {
    width: 100%;
    width: 100%;
    display: inline-block;
    max-width: 130px;
    white-space: normal;
    margin-right: 10px;
}

.course-glance-languages {
    font-family: Verdana;
    font-size: 14px;
    color: #58595b;
}

.project-info-wrapper {
    /* margin: 30px; */
    text-align: center;
    min-width: 300px;
}

.project-row {
    display: flex;
    flex-direction: column;
}

.project-col {
    flex: 1;
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;   
}

.project-left {
    float: left;
    margin: 60px;
    margin-bottom: 40px;
    font-size: 36px;
    /* max-height: 200px; */
}

.project-right {
    margin: 20px;
    text-align: left;
}

.project-blurb {
    font-family: verdana;
    color: #58595b;
}

.project-title {
    font-family: verdana;
    font-size: 36px;
    font-weight: bold;
    color: #003243;
}

hr {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.pricing-example {
    max-width: 250px;
    max-height: 500px;
    margin-left: 10px;
    margin-bottom: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-wrapper {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
  height: 480px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}